html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.flex{
  padding: 10px;
  background-color: #333333;
}

.container {
  height:150px;
  background: blanchedalmond;
  padding: 10px;
}

input {
  width: 65%;
  height: 20%;
}

.btn {
  width: 20%;
  height:25%;
  background-color: #ff6a00;
  color: White;
  border-radius: 5px;
  font-weight: 500;
  border: none;
}

ul {
  margin: 0;
  padding:0px;
  background-color: #333333;

}
ul li {
  position: relative;
  margin: 0px;
  color: white;
  list-style-type: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

ul li:hover {
  background: #ffab01;
  color: black;
  
}

.cancel {
  position: absolute;
  right: 10px;
  top: 16px;
  float: left;
  margin-right: 16px;
  border-radius: none;
  height: 30px;
  background: black;
  color: white;
  font-size: 18px;
}

.cancel:hover {
  position: absolute;
  right: 10px;
  top: 16px;
  float: left;
  margin-right: 16px;
  border-radius: none;
  height: 30px;
  background: red;
  color: white;
  font-size: 18px;
}
